@model GarbageCollector.Models.Customers

@{
    ViewBag.Title = "EmployeeEdit";
}

<h2>EmployeeEdit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Customers</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CustomerId)

    @Html.HiddenFor(model => model.Id)

    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.Address)
    @Html.HiddenFor(model => model.City)
    @Html.HiddenFor(model => model.State)
    @Html.HiddenFor(model => model.ZipCode)
    @Html.HiddenFor(model => model.WeeklyPickUpDate)
    @Html.HiddenFor(model => model.OneTimePickUpDate)
    @Html.HiddenFor(model => model.DateExclusionStart)
    @Html.HiddenFor(model => model.DateExclusionEnd)

    <div class="form-group">
        @Html.LabelFor(model => model.CurrentBill, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CurrentBill, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CurrentBill, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.WeeklyisPickedUp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.WeeklyisPickedUp)
                @Html.ValidationMessageFor(model => model.WeeklyisPickedUp, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OneTimeisPickedUp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.OneTimeisPickedUp)
                @Html.ValidationMessageFor(model => model.OneTimeisPickedUp, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
